/* ====================== [ Custom restaurant Styles  ] ====================== */
.button-down {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.button-down .rotate-circle svg {
  width: 220px;
  fill: #fff;
  font-size: 16px !important;
}

.button-down .icon-button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/* ------------ Background Audio ------------ */
.background-audio {
  max-width: 100%;
  width: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 100px;
  margin-right: 37px;
}

/* ------------ Header Section ------------ */
.home-lancer {
  position: relative;
  min-height: 80vh;
  padding: 220px 0 100px;
}

.home-lancer:after {
  content: '';
  position: absolute;
  top: -40px;
  left: -40px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #fff;
  opacity: .5;
  -webkit-filter: blur(200px);
  filter: blur(200px);
}

.home-lancer .cont .img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.home-lancer .cont .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

/* ------------ services Section ------------ */
.services {
  position: relative;
}

.services:after {
  content: '';
  position: absolute;
  top: 40px;
  right: 40px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  opacity: .5;
  -webkit-filter: blur(120px);
  filter: blur(120px);
}

.services .item {
  padding: 50px 30px;
  background: #191b1d;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* ------------ Portfolio Section ------------ */
/* ------------ Resume ------------ */
/* ------------ Testmonials ------------ */
/* ------------ Contact Form ------------ */
/* ====================== [ Start Responsive ] ====================== */
@media screen and (max-width: 991px) {
  .bg-img {
    background-position: center !important;
  }

  .md-mb10 {
    margin-bottom: 10px;
  }

  .md-mb20 {
    margin-bottom: 20px;
  }

  .md-mb30 {
    margin-bottom: 30px;
  }

  .md-mb40 {
    margin-bottom: 40px;
  }

  .md-mb50 {
    margin-bottom: 50px !important;
  }

  .md-mb80 {
    margin-bottom: 80px;
  }

  .md-no-mrg {
    margin: 0 !important;
  }

  .md-pb10 {
    padding-bottom: 10px;
  }

  .md-pb20 {
    padding-bottom: 20px;
  }

  .md-pb30 {
    padding-bottom: 30px;
  }

  .md-pb40 {
    padding-bottom: 40px;
  }

  .md-pb50 {
    padding-bottom: 50px;
  }

  .md-pb60 {
    padding-bottom: 60px;
  }

  .md-pb70 {
    padding-bottom: 70px;
  }

  .md-pb80 {
    padding-bottom: 80px;
  }

  .md-pt80 {
    padding-top: 80px !important;
  }

  .md-no-pad {
    padding: 0 !important;
  }

  .md-center {
    text-align: center !important;
  }

  .order2 {
    -webkit-box-ordinal-group: 3 !important;
    -ms-flex-order: 2 !important;
    order: 2 !important;
  }

  .order1 {
    -webkit-box-ordinal-group: 2 !important;
    -ms-flex-order: 1 !important;
    order: 1 !important;
  }

  .justify-end {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }

  .md-hide {
    display: none;
  }

  body.index-marg {
    padding-left: 0;
  }

  .nav-left-fixed {
    width: 100%;
    height: 60px;
    padding: 20px 30px 20px;
  }

  .nav-left-fixed .menu-bar {
    margin: 0;
  }

  .nav-left-fixed .progress-wrap,
  .nav-left-fixed .social {
    display: none;
  }

  .navbar {
    min-height: 60px;
  }

  .navbar .navbar-collapse {
    max-height: 340px;
    overflow: auto;
    background: #191b1d;
    text-align: center;
    padding: 20px 15px 30px;
  }

  .navbar .nav-link {
    margin: 10px auto !important;
    color: #fff !important;
  }

  .navbar .logo {
    margin-left: 15px;
    width: 60px;
  }

  .navbar .navbar-toggler {
    position: absolute;
    top: 10px;
    right: 30px;
    font-size: 20px;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
  }

  .navbar .nav-info-right {
    margin: 30px auto 0;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .navbar .nav-info-right .social:before {
    display: none;
  }

  .navbar .nav-info-right .social a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
  }

  .navbar-nav .dropdown-menu {
    opacity: 1;
    visibility: visible;
    display: none;
    background: #1e2022;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
  }

  .navbar-nav .dropdown-menu .dropdown-item .dropdown-side {
    position: static;
    background: #1e2022;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: none;
    margin-top: 15px;
  }

  .navbar-nav .dropdown-menu .dropdown-item .dropdown-side.show {
    display: block;
  }

  .navbar .dropdown-menu .dropdown-item a .icon-arrow {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .navbar-nav .dropdown-menu.show {
    display: block;
  }

  .navbar .navbar-nav .nav-link {
    padding: 0;
  }

  .navbar .mega-menu .dropdown-menu {
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f7f7f7;
    padding: 30px;
  }

  .navbar.light .navbar-toggler .md-revers {
    color: #18191d;
  }

  body.light .navbar {
    color: #191b1d !important;
  }

  body.light .navbar .navbar-collapse {
    background: #f7f7f7;
  }

  body.light .navbar .nav-link {
    color: #191b1d !important;
  }

  body.light .navbar .nav-info-right .social a {
    border-color: rgba(0, 0, 0, 0.1);
  }

  body.light .navbar .theme-icon {
    color: #191b1d !important;
    background: rgba(0, 0, 0, 0.02);
  }

  body.light .nav-scroll .navbar-toggler {
    color: #191b1d;
  }

  .slider-main .caption h1 {
    font-size: 45px !important;
  }

  .slide-creative .caption h1 {
    font-size: 50px;
  }

  .slider.box-slide .parallax-slider {
    width: 100%;
    margin-left: 0;
    padding-top: 60px;
  }

  header.hed-clean .cont h1 {
    font-size: 55px !important;
  }

  .pg-header.style2 h1 {
    font-size: 50px !important;
  }

  .sec-head h3.fz-55 {
    font-size: 35px !important;
  }

  .sec-head h3 br {
    display: none;
  }

  .go-more {
    padding: 0 15px;
    font-size: 12px;
    letter-spacing: 0;
  }

  .go-more:after {
    right: 0;
  }

  .hero-sipm .justify-content-center {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: start !important;
    margin-top: 30px;
  }

  .about-busin .img-exp .exp {
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .about-busin .img-exp:after {
    display: none;
  }

  .serv-bg-box .row .chan-img .img {
    background-size: cover !important;
  }

  .serv-bg-box .item {
    min-height: 40vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  .work-rand-width .swiper-slide:nth-of-type(even),
  .work-rand-width .swiper-slide {
    width: 50% !important;
  }

  .work-rand-height .swiper-container.cuting {
    width: 100%;
  }

  .states.text-right {
    text-align: left;
    margin-top: 50px;
  }

  .states.text-right li {
    display: inline-block;
    margin-right: 30px;
  }

  .states.text-right li br {
    display: none;
  }

  .number-sec .item {
    padding: 0;
  }

  .testim-simple .bg-text h2,
  .main-marq .box .item h4 {
    font-size: 8vw;
  }

  .testim-half .half-img {
    width: 100%;
  }

  .teams .lg-marg {
    margin-top: 0 !important;
  }

  .process-line .item {
    padding-right: 0;
    padding-left: 30px;
  }

  .process-line .item:after {
    top: 95px;
  }

  .call-box-half h3 {
    font-size: 25px;
  }

  .sub-footer {
    text-align: center;
  }

  .sub-footer .copyrights {
    display: block !important;
    margin-top: 15px;
  }

  .crv-footer .call-buton {
    margin-left: 0;
    margin-top: 50px;
  }

  body.light.h-agency .testim-half .half-img:before {
    background: #fff;
    opacity: .9;
  }

  .h-arch .slider .parallax-slider .caption h1 {
    font-size: 55px !important;
  }

  .business-home.home-scroll main {
    border: 0;
  }

  .business-home.home-scroll #pp-nav.right {
    right: 10px;
  }

  .nav-left-fixed.in-right {
    width: 60px;
  }

  .portfolio .filtering {
    margin-bottom: 50px !important;
  }

  .portfolio .filtering span {
    margin-bottom: 30px;
  }

  .works-header .background {
    left: 0;
  }

  .nex-prv .text-left,
  .nex-prv .text-right {
    text-align: center !important;
  }

  .comments-post .item-box.replayed {
    margin-left: 0;
  }

  .slid-text .cont h1 {
    font-size: 50px !important;
  }

  .coming-soon h1 {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 767px) {
  .sm-mb10 {
    margin-bottom: 10px;
  }

  .sm-mb20 {
    margin-bottom: 20px;
  }

  .sm-mb30 {
    margin-bottom: 30px;
  }

  .sm-mb40 {
    margin-bottom: 40px;
  }

  .sm-mb50 {
    margin-bottom: 50px;
  }

  .sm-mb80 {
    margin-bottom: 80px;
  }

  .sm-pb10 {
    padding-bottom: 10px;
  }

  .sm-pb20 {
    padding-bottom: 20px;
  }

  .sm-pb30 {
    padding-bottom: 30px;
  }

  .sm-pb40 {
    padding-bottom: 40px;
  }

  .sm-pb50 {
    padding-bottom: 50px;
  }

  .sm-pb60 {
    padding-bottom: 60px;
  }

  .sm-pb70 {
    padding-bottom: 70px;
  }

  .sm-pb80 {
    padding-bottom: 80px;
  }

  .sm-hide {
    display: none;
  }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }

  h3.fz-50 {
    font-size: 35px !important;
  }

  .md-padding {
    padding-left: 15px;
    padding-right: 15px;
  }

  .slider-main .caption h1 {
    font-size: 30px !important;
  }

  .slider-main .caption .butn {
    margin: 0 0 10px 0 !important;
  }

  .slide-creative .caption h1 {
    font-size: 35px;
  }

  .slider .parallax-slider .caption h1 {
    font-size: 25px;
    letter-spacing: normal;
  }

  .slider .parallax-slider .caption h1 div {
    display: inline-block;
  }

  .ed-slide .cont h1 {
    font-size: 7vw;
    bottom: -30px;
  }

  header.hed-minml .cont h1,
  header.hed-clean .cont h1 {
    font-size: 35px !important;
  }

  .pg-header.style2 h1 {
    font-size: 40px !important;
  }

  .pg-header .curve {
    display: none;
  }

  .works-header {
    min-height: 100vh;
  }

  .pg-header.tpost .cont .d-flex {
    display: block !important;
  }

  .pg-header.tpost .cont .item {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-bottom: 20px;
    text-align: left;
  }

  .pg-header.tpost .cont .item:last-of-type {
    margin-bottom: 0;
  }

  .pg-header.tpost .cont .item:after {
    display: none;
  }

  .pg-header.tpost .cont .item .d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .sec-head .d-flex {
    display: block !important;
    margin-top: 30px;
  }

  .sec-head .d-flex .go-more:after {
    right: auto;
    left: 0;
  }

  .sec-head .d-flex .go-more:hover:after {
    right: 0;
  }

  .sec-head h3.fz-40,
  .sec-head h3.fz-55 {
    font-size: 30px !important;
  }

  .intro-box .img .img1 {
    height: 400px;
  }

  .intro-box .img .img02 .img2 {
    height: 120px;
  }

  .intro-box .cont h4.fz-70 {
    font-size: 40px !important;
  }

  .serv-box .serv-item {
    padding: 50px 40px;
  }

  .works .simp-ctrl .swiper-nav-ctrl {
    margin: 0 10px 0 0;
  }

  .work-rand-width .swiper-slide:nth-of-type(even),
  .work-rand-width .swiper-slide {
    width: 100% !important;
  }

  .portfolio.agn {
    padding-bottom: 30px;
  }

  .portfolio.agn .items {
    margin: 0 0 100px 0 !important;
  }

  .clients h3.fz-28 {
    font-size: 24px !important;
  }

  .video.states ul {
    display: block;
  }

  .video.states ul li {
    margin: 15px 0 0 15px !important;
  }

  .numbers .justify-content-center {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: start !important;
  }

  .mblog .post-clas {
    padding-left: 0;
  }

  .call-box-half .item {
    min-height: auto;
  }

  .call-box-half .item:hover {
    background: rgba(50, 50, 50, 0.08);
  }

  .sub-footer .horizontal-link li {
    margin: 0 25px 5px 0 !important;
  }

  .h-arch .slider .parallax-slider .caption h1 {
    font-size: 35px !important;
  }

  .h-arch .slider .parallax-slider .caption p {
    font-size: 15px !important;
  }

  .main-post .post-qoute {
    padding-left: 100px;
  }

  .main-post .post-qoute h6:before {
    font-size: 130px;
    top: 55px;
    left: -80px;
  }

  .main-post .info-area {
    display: block;
  }

  .main-post .info-area>div {
    margin: 15px 0;
  }

  .main-post .author-area .author-img .img {
    width: 80px;
    height: 80px;
  }

  .main-post .next-prv-post .thumb-post {
    padding: 40px 15px;
  }

  .comments-post .item-box>.flex {
    display: block;
  }

  .comments-post .item-box .user-img,
  .comments-post .item-box .cont {
    margin: 0 0 30px 0 !important;
  }

  .slid-text .cont h1 {
    font-size: 35px !important;
  }

  .inter-links-center {
    display: block !important;
  }

  .social-text {
    display: none;
  }

  .error-split .half-img {
    display: none;
  }

  .error-split .cont {
    height: 100vh;
  }

  .coming-soon h1 {
    font-size: 35px !important;
  }

  .coming-soon .clockdiv li .fz-40 {
    font-size: 30px !important;
  }

  .coming-soon .clockdiv li:before,
  .coming-soon .clockdiv li:after {
    width: 5px;
    height: 5px;
  }
}

/* ====================== [ End Responsive ] ====================== */
